<!DOCTYPE html>
<html>
<head>
  <title>Teamhero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag image_path('badges/teamhero.png'), width: '30px', height: '30px' %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <% if logged_in? %>
            <%= link_to 'Log Out', logout_path %>
          <% else %>
            <%= link_to 'Log In with Github', login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
